/* Navigation bar */

#navbar{
    flex-direction: column;
    height: 270px;
}
#logo{
    display: block;
    margin: auto;
    margin-top: 2px;
}
#name{
    display: block;
    margin: auto;
}
#navbar ul{
    flex-direction: column;
}
#navbar ul li{
    flex-direction: column;
    margin: 1px;
}
#navbar ul li a{
    flex-direction: column;
}

/* Introduction */
#intro{
    padding: 2px 10px;
    height: 300px;
}
#intro::before{
    height: 850px;
}
#intro h1{
    padding-top: 120px;
}

/* Booking */
#book-table{
    flex-direction: column;
    margin-top: 240px;
    text-align: center;
}
#book-form{
    width: 70%;
    display: block;
    margin: auto;
}

/* Features */
#features{
    flex-direction: column;
}
.left{
    width: 90%;
    padding: 0px;
    margin: 0px 5px;
}
.left img{
    height:auto;
    width: 90%;
    display: block;
    margin: auto;
}
.left p{
    text-align: center;
    padding: 10px;
}
.right{
    margin-top: 2px;
    width: 100%;
}

/* Menu */
.container{
    width: 100%;
}
#poster{
    display: none;
}

/* Contact us */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-info{
    flex-direction: column;
}
.address,
.call,
.email,
.followus{
    margin: 10px 3px;
}
